<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Open DMARC Analyzer{% endblock %}</title>
    {% load static %}
    {% load bootstrap3 %}

    {% comment %} The minified and concatenated JS and CSS sources include all
    3rd party frontend dependencies and are checked into version control.
    This allows users to run the app without using the frontend toolchain
    (node/npm/gulp/sass). {% endcomment %}
    <script src="{% static "dist/dmarc_viewer.dist.npm.js" %}"></script>
    <link href="{% static "dist/dmarc_viewer.dist.npm.css" %}" rel="stylesheet">


    {% comment %} Local sources can be served either as they are or
    as minified dist versions (default).
    For development it is useful to set `settings.TEMPLATE_SETTINGS.use_dist`
    to `False`.

    Take a look at `Gulpfile.js` to see how to install frontend dependencies,
    compile SCSS to CSS and create new dist files. {% endcomment %}

    {% if TEMPLATE_SETTINGS.use_dist %}
    <script src="{% static "dist/dmarc_viewer.dist.js" %}"></script>
    <link href="{% static "dist/dmarc_viewer.dist.css" %}" rel="stylesheet">

    {% else %}
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/editor.js" %}"></script>
    <script src="{% static "js/analysis.js" %}"></script>
    <script src="{% static "js/d3.legend.js" %}"></script>
    <link href="{% static "css/dmarc_viewer.css" %}" rel="stylesheet">
    {% endif %}

    {% comment %} `djangoformsetjs` is installed as Python dependency to some
    `site-packages` dir, where it is found by Django's static file loader.

    TODO:
    Find a good solution to tell the gulp build task (i.e. `min-js`) where
    to find this file so that we can add it to
    `dmarc_viewer.dist.min.js` and only load it like below when if
    `TEMPLATE_SETTINGS.use_dist` is `False`. {% endcomment %}
    <script src="{% static "js/jquery.formset.js" %}"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="brand">&lt;dmarc&sol;&gt; viewer</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% if 'overview' in request.path %} active {% endif %}"><a href="{% url 'overview' %}">Overview</a></li>
            <li class="{% if 'deep-analysis' in request.path %} active {% endif %}"><a href="{% url 'deep_analysis_first' %}">Deep Analysis</a></li>
            <li class="{% if 'view-management' in request.path %} active {% endif %}"><a href="{% url 'view_management' %}">View Management</a></li>
            <li class="{% if 'help' in request.path %} active {% endif %}"><a href="{% url 'help' %}">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="{% block site_id %}{% endblock %}" class="container-fluid">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>


</body>
</html>