{% extends 'website/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load my_filters %}
{% load my_tags %}


{% block title %}DMARC viewer - Deep Analysis{% endblock %}
{% block site_id %}deep-analysis{% endblock %}

{% block content %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    {% for view in sidebar_views %}
        <li {% if view.id == the_view.id %}class="active"{% endif %}><a href="/deep-analysis/{{view.id}}/">{{view.title}}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{the_view.title}}</h1>
    <div class="bootstrap-messages-container">
        {% bootstrap_messages %}
    </div>
    <div class="description">{{the_view.description}}</div>

    <div class="panel-group" id="view-filter-details" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading collapsed" role="tab" data-toggle="collapse" data-parent="#view-filter-details" href="#collapse-filterset-details" aria-expanded="false">
                <h4 class="panel-title">
                    Filtering from {% with date=the_view.daterange_set.first.getBeginEnd %} <strong>{{date.0 | date:"Y/n/j"}}</strong> to <strong>{{date.1 | date:"Y/n/j"}}</strong> {% endwith %}
                    on <strong>'{{ the_view.reporttype_set.first.get_value_display }}'</strong> reports
                    <span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="Click to see what data this view is based on. For each filter set you will see the specified filters."></span>
                </h4>

            </div>
            <div id="collapse-filterset-details" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                    {% for filter_set in the_view.filterset_set.all %}
                    <div>
                        <p>
                            <span class="circle" style="background-color:{{filter_set.color}}"></span><span class="filter-set-name">{{filter_set.label}}</span>
                        </p>
                        {% get_filter_set_field_tuples filter_set as filter_set_field_tuples  %}
                        {% for name, filter_set_fields, get_display in filter_set_field_tuples %}
                        {% join_filter_set_field_values filter_set_fields get_display as joined_filter_set_field_vals %}
                        {% if joined_filter_set_field_vals %}
                        <p>
                            <span class=field-name>{{ name }}: </span><span>{{ joined_filter_set_field_vals }}</span>
                        </p>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% if the_view.type_map %}
    <h2>World Map<span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="Mails are associated with countries by using GeoIP (MaxMind) on the Mail Sender IP. There is a separate map for each filter set. Hover over the map to see the mail volume per country."></span></h2>

    <div class="view-type-map view-type" style="width:100%">
        <div class="btn-group switch-filterset"></div>
        <div class="svg-container" style="position:relative"></div>
        <div class="export-svg">
            <a onClick="analysis.export.svg({{the_view.id}}, 'map', this)" class="btn btn-important" role="button" href="#">Export map as PDF</a>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        analysis.map.init({{the_view.id}});
    })
    </script>
    {% endif %}
    {% if the_view.type_line %}
    <h2>Time Line Chart<span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="The time line chart shows mail volume per time for each filter set of this view."></span></h2>

    <div class="view-type-linechart view-type" style="width: 100%">
        <div class="svg-container">
            <div id="zoom-help">
               <span class="context-help-icon" data-toggle="tooltip" data-placement="right" title="Click and drag over mini time line to zoom on the x-axis. This will also apply a time filter on the table."></span>
            </div>
        </div>
        <div class="export-svg">
            <a onClick="analysis.export.svg({{the_view.id}}, 'line-chart', this)" href="#" class="btn btn-important" role="button">Export line chart as PDF</a>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        analysis.line.init({{the_view.id}});
    })
    </script>
    {% endif %}


    {% if the_view.type_table %}
    <h2>DMARC Report Record Table<span class="context-help-icon" data-toggle="tooltip" data-placement="top" title="The table shows DMARC report records merged from all filter sets. Depending on the screen size some columns may be hidden. Then you can display additional data by clicking on the first cell."></span></h2>
    <div class="view-type-table view-type">
        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    {% for th in table_head %}
                        <th {% if th == "DKIM result" or th == "SPF result" %}data-orderable="false"{% endif %}>{{th}}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
        <div class="export-csv">
            <a onClick="analysis.export.csv({{the_view.id}})" class="btn btn-important" role="button" href="#">Export Table as CSV</a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            analysis.table.init({{the_view.id}});
        });
    </script>
    {% endif %}
    <a class="btn btn-important" role="button" href="/edit-view/{{the_view.id}}/">Edit View</a>
</div>
{% endblock %}