{% extends 'website/base.html' %}
{% load bootstrap3 %}


{% block title %} DMARC viewer - Overview {% endblock %}
{% block site_id %}overview{% endblock %}

{% block content %}


<div class="col-sm-12 col-md-12 main">

<h1 class="page-header">Overview</h1>
    <div class="bootstrap-messages-container">
        {% bootstrap_messages %}
    </div>
<h2>Incoming Reports<span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="Incoming reports are reports that you receive from foreign domains based on e-mail messages the reporter received purportedly from you."></span></h2>
{% if start_incoming %}
    <div id="t{{choices.INCOMING}}-container">
        <div class="text-container" style="display:none">
            <strong>{{ start_incoming | date:"Y/n/j" }}</strong> to <strong>{% now "Y/n/j" %}</strong>,
            my domains: <strong id="t{{choices.INCOMING}}-domain-cnt"></strong>,
            reports: <strong id="t{{choices.INCOMING}}-report-cnt"></strong>,
            messages: <strong id="t{{choices.INCOMING}}-message-cnt"></strong>
        </div>
        <div class="charts-container"></div>
    </div>
    <script type="text/javascript">
        analysis.overview.init({{choices.INCOMING}});
    </script>
{% else %}
    No incoming reports so far. Start parsing reports...
{% endif %}

<h2>Outgoing Reports<span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="Outgoing reports are reports that you send to foreign domains based on e-mail messages that you received purportedly from them."></span></h2>
{% if start_outgoing %}
    <div id="t{{choices.OUTGOING}}-container">
        <div class="text-container" style="display:none">
            <strong>{{ start_outgoing | date:"Y/n/j" }}</strong> to <strong>{% now "Y/n/j" %}</strong>
            foreign domains: <strong id="t{{choices.OUTGOING}}-domain-cnt"></strong>,
            reports: <strong id="t{{choices.OUTGOING}}-report-cnt"></strong>,
            messages: <strong id="t{{choices.OUTGOING}}-message-cnt"></strong>
        </div>
        <div class="charts-container"></div>
    </div>
        <script type="text/javascript">
            analysis.overview.init({{choices.OUTGOING}});
        </script>
{% else %}
    No outgoing reports so far. Start parsing reports...
{% endif %}
{% endblock %}