{% extends 'website/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load my_tags %}
{% load formset_tags %}


{% block title %}DMARC viewer - View Editor{% endblock %}
{% block site_id %}view-editor{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">View Editor<span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="In the view editor you can configure a single view (report time range, report types, analysis types, etc.) that should be displayed on the Deep Analysis page. You can create different filter sets to compare different aspects of your report data."></span></h1>
    <div class="bootstrap-messages-container">
        {% bootstrap_messages %}
    </div>
    <form id="viewFilterForm" method='post' action="{% if view_form.instance.id %}/edit-view/{{view_form.instance.id}}/{% else %}/add-view/{% endif %}" class="form">
         {% csrf_token %}
         {% load formset_tags %}
        <div class="btn-group right">
            <input class="form-group btn btn-important" type="submit" value="Save View">
            <input class="form-group btn btn-important" type="submit" name="redirect_to_analysis" value="Save and show View">
        </div>
        <div class="row">
            <div id="{{view_form.title.auto_id}}_container">{% bootstrap_field view_form.title %}</div>
            <div id="{{view_form.description.auto_id}}_container">{% bootstrap_field view_form.description %}</div>
            <div id="{{view_form.enabled.auto_id}}_container">{% bootstrap_field view_form.enabled %}</div>
            <div id="{{view_form.type_map.auto_id}}_container">{% bootstrap_field view_form.type_map %}</div>
            <div id="{{view_form.type_line.auto_id}}_container">{% bootstrap_field view_form.type_line %}</div>
            <div id="{{view_form.type_table.auto_id}}_container">{% bootstrap_field view_form.type_table %}</div>
            <div id="{{view_form.report_type.auto_id}}_container">
                {% bootstrap_label view_form.report_type.label label_for=view_form.report_type.auto_id %}
                <span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="Incoming reports are  DMARC reports that you receive based on mail that was sent with your domain. Outgoing reports on the other hand are reports that you send based on mail you received. CAUTION: Changing the report type here will change the available options for 'Reportee(s)', 'Reporter(s)', 'SPF domain(s)' and 'DKIM domains(s)' fields in the existing filter sets of this view."></span>
                {% bootstrap_field view_form.report_type show_label=False %}
            </div>
            <div id="{{view_form.dr_type.auto_id}}_container">
                {% bootstrap_label view_form.dr_type.label label_for=view_form.dr_type.auto_id %}
                <span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="You can filter reports using absolute ('from' - 'to') or dynamic (e.g. last 10 days) time ranges. The 'begin' timestamp found in a report's metadata section is used when applying this filter."></span>
                {% bootstrap_field view_form.dr_type show_label=False %}
            </div>
            <div id="{{view_form.begin.auto_id}}_container">{% bootstrap_field view_form.begin %}</div>
            <div id="{{view_form.end.auto_id}}_container">{% bootstrap_field view_form.end %}</div>
            <div id="{{view_form.quantity.auto_id}}_container">{% bootstrap_field view_form.quantity %}</div>
            <div id="{{view_form.unit.auto_id}}_container">{% bootstrap_field view_form.unit %}</div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="filterSetContainer" data-formset-prefix="{{ filter_set_formset.prefix }}">
                {{ filter_set_formset.management_form }}

                <div data-formset-body>
                    {% for filter_set_form in filter_set_formset%}
                        {% include "website/view-editor-filterset.html" with form=filter_set_form %}
                    {% endfor %}
                    <!-- New forms will be inserted in here -->
                </div>

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        {% include "website/view-editor-filterset.html" with form=filter_set_formset.empty_form %}
                    {% endescapescript %}
                </script>
                <div class="text-right">
                    <input type="button" class="btn btn-primary" value="Add Filter Set" data-formset-add>
                </div>

                <script type="text/javascript">
                    $(function($) {
                        $("#filterSetContainer").formset({
                            'animateForms': true,
                        });
                    })
                    $(document).ready(editor.toggleDateRange)
                    $(document).on("click", "[name='dr_type']", editor.toggleDateRange)

                    $(document).on("change", "[name='report_type']", function(){
                        $("select.selectize-dynamic").each(function(){
                            this.selectize.clearOptions();
                        });
                    })
                </script>
            </div>
        </div>
        <div class="btn-group right">
            <input class="form-group btn btn-important" type="submit" value="Save View">
            <input class="form-group btn btn-important" type="submit" name="redirect_to_analysis" value="Save and show View">
        </div>
    </form>
</div>

{% endblock %}
