{% extends 'website/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load my_tags %}
{% load formset_tags %}


{% block title %}DMARC viewer - View Editor{% endblock %}
{% block site_id %}view-editor{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">View Editor</h1>
    <div class="bootstrap-messages-container">
        {% bootstrap_messages %}
    </div>
    <div class="description">The data for a view is retrieved by applying the below chosen filter. Different filter fields are ANDed together whereas filter fields of one kind with multiple selections are ORed together.<br>
    <strong>Eg: </strong> <code>find reports where report_type = incoming AND (reporter = google.com OR reporter = yahoo.com) </code>
    </div>
    <form id="viewFilterForm" method='post' action="{% if view_form.instance.id %}/edit-view/{{view_form.instance.id}}/{% else %}/add-view/{% endif %}" class="form">
         {% csrf_token %}
         {% load formset_tags %}
        <div class="btn-group right">
            <input class="form-group btn btn-important" type="submit" value="Save View">
            <input class="form-group btn btn-important" type="submit" name="redirect_to_analysis" value="Save and show View">
        </div>
        <div class="row">
            <div id="{{view_form.title.auto_id}}_container">{% bootstrap_field view_form.title %}</div>
            <div id="{{view_form.description.auto_id}}_container">{% bootstrap_field view_form.description %}</div>
            <div id="{{view_form.enabled.auto_id}}_container">{% bootstrap_field view_form.enabled %}</div>
            <div id="{{view_form.type_map.auto_id}}_container">{% bootstrap_field view_form.type_map %}</div>
            <div id="{{view_form.type_line.auto_id}}_container">{% bootstrap_field view_form.type_line %}</div>
            <div id="{{view_form.type_table.auto_id}}_container">{% bootstrap_field view_form.type_table %}</div>
            <div id="{{view_form.report_type.auto_id}}_container">
                {% bootstrap_label view_form.report_type.label label_for=view_form.report_type.auto_id %}
                <span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="Incoming reports are those DMARC aggregate reports that you receive, based on mail that was sent with your domain. Outgoing reports on the other hand are those that you send, based on mail you received. CAUTION: Changing the report type here will change options for fields Reportee(s), Reporter(s), SPF domain(s) and DKIM domains(s) below in the filter set."></span>
                {% bootstrap_field view_form.report_type show_label=False %}
            </div>
            <div id="{{view_form.dr_type.auto_id}}_container">
                {% bootstrap_label view_form.dr_type.label label_for=view_form.dr_type.auto_id %}
                <span class="context-help-icon" data-toggle="tooltip" data-placement="bottom" title="An absolute time range filters reports having their 'date_range.begin' field in between your specified 'from' and 'to'. A dynamic time range filters the last x days, weeks, months or years always starting at current moment of view inspection."></span>
                {% bootstrap_field view_form.dr_type show_label=False %}
            </div>
            <div id="{{view_form.begin.auto_id}}_container">{% bootstrap_field view_form.begin %}</div>
            <div id="{{view_form.end.auto_id}}_container">{% bootstrap_field view_form.end %}</div>
            <div id="{{view_form.quantity.auto_id}}_container">{% bootstrap_field view_form.quantity %}</div>
            <div id="{{view_form.unit.auto_id}}_container">{% bootstrap_field view_form.unit %}</div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="filterSetContainer" data-formset-prefix="{{ filter_set_formset.prefix }}">
                {{ filter_set_formset.management_form }}

                <div data-formset-body>
                    {% for filter_set_form in filter_set_formset%}

                        {% show_filter_set filter_set_form %}
                    {% endfor %}
                    <!-- New forms will be inserted in here -->
                </div>

                <!-- The empty form template. By wrapping this in a <script> tag, the
                __prefix__ placeholder can easily be replaced in both attributes and
                any scripts -->
                <script type="form-template" data-formset-empty-form>
                    {% escapescript %}
                        {% show_filter_set filter_set_formset.empty_form %}
                    {% endescapescript %}
                </script>
                <div class="text-right">
                    <input type="button" class="btn btn-primary" value="Add Filter Set" data-formset-add>
                </div>

                <script type="text/javascript">
                    $(function($) {
                        $("#filterSetContainer").formset({
                            'animateForms': true,
                        });
                    })
                    $(document).ready(editor.toggleDateRange)
                    $(document).on("click", "[name='dr_type']", editor.toggleDateRange)

                    $(document).on("change", "[name='report_type']", function(){
                        $("select.selectize-dynamic").each(function(){
                            this.selectize.clearOptions();
                        });
                    })
                </script>
            </div>
        </div>
        <div class="btn-group right">
            <input class="form-group btn btn-important" type="submit" value="Save View">
            <input class="form-group btn btn-important" type="submit" name="redirect_to_analysis" value="Save and show View">
        </div>
    </form>
</div>

{% endblock %}
