{% extends 'website/base.html' %}
{% load bootstrap3 %}

{% block title %}DMARC viewer - View Management{% endblock %}
{% block site_id %}view-management{% endblock %}


{% block content %}
<div class="col-sm-12 col-md-12 main">
    <h1 class="page-header">View Management</h1>
    <div class="bootstrap-messages-container">
        {% bootstrap_messages %}
    </div>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th><span class="context-help-icon" data-toggle="tooltip" data-placement="right" title="Change the order of analysis views in the Deep Analysis page's side bar by dragging and dropping the arrow icon below."></span></th>
                <th>Show</th>
                <th>Title</th>
                <th>Description</th>
                <th style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody id="sortableViews">
        {% for view in views %}
            <tr class="view-row" data-id="{{view.id}}">
                <td class="sort-handle text-center"><span class="glyphicon glyphicon-resize-vertical"></span></td>
                <td>{{view.enabled}}</td>
                <td>{{view.title}}</td>
                <td >{{view.description}}</td>
                <td align="right">
                    <div class="btn-group">
                        <a class="btn btn-default" role="button" href="{% url 'deep_analysis' view.id %}">Show</a>
                        <a class="btn btn-default" role="button" href="{% url 'edit_view' view.id %}">Edit</a>
                        <a class="btn btn-default" role="button" href="{% url 'clone_view' view.id %}">Clone</a>
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete-{{view.id}}">
                        <span class="glyphicon glyphicon-trash" title="Delete View"></span><span class="hidden-xs icon-text"></span></a>
                    </div>
                </td>
            </tr>
            {% include 'website/_confirm-modal.html' %}
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
    $(document).ready(function(){
        var sortContainer = $("#sortableViews").get(0)
        var sortable = Sortable.create(sortContainer, {
            animation: 150,
            handle: ".sort-handle",
            onUpdate: function (evt){
                //Create ordered Ids Array
                var view_id_list = [];
                $("#sortableViews .view-row").each(function(){
                    view_id_list.push( $(this).data("id") );
                });

                $.ajax({
                    type: "POST",
                    url: "{% url 'order_views' %}",
                    data:  JSON.stringify(view_id_list),
                    contentType: "application/json",
                    success: function(response){
                        main.showAjaxMessages(response);
                    },
                });
            }
        });
    })
    </script>
    <div class="row">
        <div class="col-xs-12 text-right">
            <a class="btn btn-important" role="button" href="{% url "add_view" %}">Add View</a>
        </div>
    </div>
</div>
{% endblock %}