<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Open DMARC Analyzer{% endblock %}</title>
    {% load static %}
    {% load bootstrap3 %}

    <script src="{% static "vendor/jquery/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "vendor/jquery/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-sass-3.3.5/assets/javascripts/bootstrap.js" %}"></script>
    <script src="{% static "vendor/Sortable/Sortable.js" %}"></script>
    <script src="{% static "vendor/selectize/js/standalone/selectize.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js" %}"></script>
    <script src="{% static "vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "vendor/DataTables-1.10.9/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendor/DataTables-1.10.9/js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "vendor/DataTables-1.10.9/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "vendor/d3/d3.js" %}"></script>
    <script src="{% static "vendor/topojson/topojson.js" %}"></script>
    <script src="{% static "vendor/datamaps/dist/datamaps.world.js" %}"></script>

    <script src="{% static "js/jquery.formset.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/editor.js" %}"></script>
    <script src="{% static "js/analysis.js" %}"></script>
    <script src="{% static "js/d3.legend.js" %}"></script>

    <link href="{% static "vendor/selectize/css/selectize.css" %}" rel="stylesheet">
    <link href="{% static "vendor/selectize/css/selectize.default.css" %}" rel="stylesheet">
    <link href="{% static "vendor/selectize/css/selectize.legacy.css" %}" rel="stylesheet">
    <link href="{% static "vendor/selectize/css/selectize.bootstrap3.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" %}" rel="stylesheet">
    
    <link href="{% static "vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" %}" rel="stylesheet">
         
    <link href="{% static "vendor/DataTables-1.10.9/css/dataTables.bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "vendor/DataTables-1.10.9/css/responsive.bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "css/mydmarc.css" %}" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/overview/">Open DMARC Analyzer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% if 'overview' in request.path %} active {% endif %}"><a href="/overview/">Overview</a></li>
            <li class="{% if 'deep-analysis' in request.path %} active {% endif %}"><a href="/deep-analysis/">Deep Analysis</a></li>
            <li class="{% if 'view-management' in request.path or 'edit-view' in request.path or 'add-view' in request.path %} 
                active {% endif %}"><a href="/view-management/">View Management</a></li>
            <li class="{% if 'help' in request.path %} active {% endif %}"><a href="/help/">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="{% block site_id %}{% endblock %}" class="container-fluid">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>


</body>
</html>