<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}MyDMARC{% endblock %}</title>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    <script src="{% static "jquery/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "jquery/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "selectize/js/standalone/selectize.min.js" %}"></script>
    <script src="{% static "bootstrap-colorpicker/js/bootstrap-colorpicker.js" %}"></script>
    <script src="{% static "DataTables-1.10.9/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "js/jquery.formset.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    {% bootstrap_javascript %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "selectize/css/selectize.css" %}" rel="stylesheet">
    <link href="{% static "selectize/css/selectize.default.css" %}" rel="stylesheet">
    <link href="{% static "selectize/css/selectize.legacy.css" %}" rel="stylesheet">
    <link href="{% static "selectize/css/selectize.bootstrap3.css" %}" rel="stylesheet">
    <link href="{% static "selectize/css/selectize.bootstrap3.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-colorpicker/css/bootstrap-colorpicker.css" %}" rel="stylesheet">
    <link href="{% static "DataTables-1.10.9/css/jquery.dataTables.css" %}" rel="stylesheet">
 
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyDmarc</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Overview</a></li>
            <li><a href="/deep-analysis/">Deep Analysis</a></li>
            <li><a href="/view-management/">View Management</a></li>
            <li><a href="/help/">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% comment %}
                
            <div class="col-sm-3 col-md-2 sidebar">
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% endcomment %}

            {% block content %}{% endblock %}
        </div>
    </div>


</body>
</html>