{% extends 'myDmarcApp/base.html' %}

{% block title %}MyDmarc - Deep Analysis{% endblock %}

{% block content %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    {% for view in sidebar_views %}
        <li {% if view.id == the_view.id %}class="active"{% endif %}><a href="/deep-analysis/{{view.id}}/">{{view.title}}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Deep Analysis</h1>
    <h2>{{the_view.title}}</h2>
    <p>{{the_view.description}}</p>

    <div class="view-type-table">
        <table class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Reporter</th>
                    <th>Mail sender</th>
                    <th>IP</th>
                    <th>Country</th>
                    <th>Report Time</th>
                    <th>Message #</th>
                    <th>DKIM Domains</th>
                    <th>DKIM Results</th>
                    <th>aligned DKIM</th>
                    <th>SPF Domains</th>
                    <th>SPF Results</th>
                    <th>aligned SPF</th>
                    <th>Disposition</th>
                </tr>
            </thead>

            {% for filter_set_data in filter_set_data_list  %}
                {% for report in filter_set_data.reports %}
                    {% for record in report.record_set.all %}
                        <tr style="background-color:{{filter_set_data.filter_set.color}}">
                            <td>{{report.reporter.org_name}}</td>
                            <td>{{report.domain}}</td>
                            <td>{{record.source_ip}}</td>
                            <td>{{record.country_iso_code}}</td>
                            <td>{{report.date_range_begin}} - {{report.date_range_end}}</td>
                            <td>{{record.count}}</td>
                            {% comment %}
                                XXX LP: Think of ordering in nested table cells!!!
                            {% endcomment %}
                            <td>
                                {% for dkim in record.authresultdkim_set.all%}
                                    {{dkim.domain}}
                                {% endfor %}
                            </td>
                            <td>
                                {% for dkim in record.authresultdkim_set.all%}
                                    {{dkim.get_result_display}}
                                {% endfor %}
                            </td>
                            <td>{{record.get_dkim_display}}</td>
                            <td>
                                {% for spf in record.authresultspf_set.all%}
                                    {{spf.domain}}
                                {% endfor %}
                            </td>
                            <td>
                                {% for spf in record.authresultspf_set.all%}
                                    {{spf.get_result_display}}
                                {% endfor %}
                            </td>
                            <td>{{record.get_spf_display}}</td>
                            <td>{{record.get_disposition_display}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}