{% extends 'myDmarcApp/base.html' %}

{% block title %}MyDmarc - Deep Analysis{% endblock %}
{% block site_id %}deep-analysis{% endblock %}

{% block content %}
{% load staticfiles %}
{% load my_filters %}
{% load my_tags %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
    {% for view in sidebar_views %}
        <li {% if view.id == the_view.id %}class="active"{% endif %}><a href="/deep-analysis/{{view.id}}/">{{view.title}}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {% comment %}
    <h1 class="page-header">Deep Analysis</h1>
    {% endcomment %}

    <h2>{{the_view.title}}</h2>
    <p>{{the_view.description}}</p>

    <div class="panel-group" id="view-filter-details" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    Filtering from {% with date=the_view.daterange_set.first.getBeginEnd %} <strong>{{date.0 | date:"Y/n/j"}}</strong> to <strong>{{date.1 | date:"Y/n/j"}}</strong> {% endwith %}
                    on <strong>'{{ the_view.reporttype_set.first.get_value_display }}'</strong> reports
                </h4>
                <a role="button" data-toggle="collapse" data-parent="#view-filter-details" href="#collapse-filterset-details" aria-expanded="false">(show details)
                </a>
            </div>
            <div id="collapse-filterset-details" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                {% for fs in the_view.filterset_set.all %}
                <div>
                    <h4 style="background-color:{{fs.color}}">Filter Set "{{fs.label}}"</h4>
                    <p>{% join_filter_set_field_values fs.reportsender_set.all "Report Sender Email" " or " %}</p>
                    <p>{% join_filter_set_field_values fs.reportreceiverdomain_set.all "Report Receiver Domain" " or " %}</p>
                    <p>{% join_filter_set_field_values fs.sourceip_set.all "Mail Sender Source IP" " or " %}</p>
                    <p>{% join_filter_set_field_values fs.aligneddkimresult_set.all "Aligned DKIM Result" " or " True %}</p>
                    <p>{% join_filter_set_field_values fs.alignedspfresult.all "Aligend SPF Result" " or " True %}</p>
                    <p>{% join_filter_set_field_values fs.disposition_set.all "Disposition" " or " True %}</p>
                    <p>{% join_filter_set_field_values fs.rawdkimdomain_set.all "Raw DKIM Domain" " or " %}</p>
                    <p>{% join_filter_set_field_values fs.rawdkimresult_set.all "Raw DKIM Result" " or " True %}</p>
                    <p>{% join_filter_set_field_values fs.multipledkim_set.all "Multiple DKIM Only" " or " %}</p>
                    <p>{% join_filter_set_field_values fs.rawspfdomain_set.all "Raw SPF Domain" " or " %}</p>
                    <p>{% join_filter_set_field_values fs.rawspfresult_set.all  "Raw SPF Result" " or " True %}</p>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>

    {% if the_view.type_map %}
    <div class="view-type-map view-type" style="width:100%">
        <div class="btn-group switch-filterset"></div>
        <div class="svg-container" style="position:relative"></div>
        <div class="export-svg"> 
            <a class="btn btn-important" role="button" href="#">Export Map as PDF</a>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        var clientWidth = $(".view-type .svg-container").width();
        /*
         * Creates an array of `n` colors around the baseColor,
         * ranging the HSL lightness value from 0.2 to 0.8
         * 
         * -> cf. "Color Use Guidelines for Mapping and Visualization",
         *  Brewer (sequential scheme, one hue)
         */
        function createColorRange(baseColor, n) {
            var colorHsl = d3.hsl(baseColor),
                minL = 0.2,
                maxL = 0.8;
            var stepSize = (maxL - minL) / n;
            var colors = [];
            for (var i = 0; i < n; i++ ){
                colorHsl.l = maxL - (i*stepSize)
                colors.push(colorHsl.toString());
                }
            return colors;
        }

        // Get the data from the server
        var mapDataSets = {{ view_type_map_data | to_json }};
        var mapDataSetsTransformed = [];

        // Some defaults
        var defaultFill             = "white";
        var defaultBorderColor      = "darkgrey";
        var defaultBorderWidth      = 0.5;
        var defaultBorderHoverWidth = 1;
        var defaultFillName         = "0";

        // Transform serverdata
        mapDataSets.forEach(function(mapDataSet, idx){
            // Get max
            var max = d3.max(mapDataSet.data.map(function(obj) {
                return obj.cnt;
            }));

            // Define color range with 5 colors
            var colors = createColorRange(mapDataSet.color, 4)
            var paletteScale = d3.scale.quantize()
                .domain([1, max])
                .range(colors);

            // Create dataset
            // {"iso_code" : {"fillKey": <key>, "count": <cnt>}, ..}
            var data = {}

            mapDataSet.data.forEach(function(obj){
                // XXX LP: colorin some cases paletteScale returns undifend 
                var color = paletteScale(obj.cnt) || colors[colors.length - 1]
                data[countryCodeMapping[obj.country_iso_code]] = { count: obj.cnt, fillKey: color };
            }); 

            // Create fills and legendLabels
            var fills           = {defaultFill: defaultFill};
            var legendLabels    = [];
            colors.forEach(function(color){
                fills[color]     = color;
                var extents = paletteScale.invertExtent(color);
                legendLabels.push( {
                    color : color,
                    name  : Math.round(extents[0]) + " - " + Math.round(extents[1])
                } );
            });

            // Store
            mapDataSetsTransformed.push({ 
                fills:     fills,
                labels:    legendLabels,
                data:      data
            });

            //Create and append button for each dataset
            var $mapDataSetBtn = $("<button>", {class: "btn btn-default", value: idx, text: mapDataSet.label});
            $(".view-type-map .btn-group").append($mapDataSetBtn);
        })

        // Init the map with no data
        var map = new Datamap({
            element: $(".view-type-map .svg-container").get(0),
            projection: 'mercator',
            width: clientWidth,
            height: clientWidth/5 * 3, // keep a 5:3 ratio
            // responsive: true,
            geographyConfig: {
                borderColor: defaultBorderColor,
                borderWidth: defaultBorderWidth,
                highlightFillColor: defaultFill,
                highlightBorderColor: defaultBorderColor,
                highlightBorderWidth: defaultBorderHoverWidth,
                popupTemplate: function(geo, data) {
                                text = geo.properties.name + ": " + 
                                        (data ? data.count : "no") +
                                        " messages"
                                $hoverInfo = $("<div>", {"class": "hoverinfo", "text": text})
                                return $hoverInfo.prop('outerHTML');
                            }
            },
            // resize: function(map){
            //     var newWidth = this.element.clientWidth,
            //         oldWidth = map.svg.attr("data-width");
            //     //Don't select no-resize classed elements (like legend)
            //     map.svg.selectAll("g:not(.no-resize)")
            //             .attr("transform", "scale(" + (newWidth / oldWidth) + ")");

            //     map.svg.clientWidth = this.element.clientWidth;
            //     map.svg.clientHeight = this.element.clientHeight;

            // },
            done: function(map) {
                //Enable zooming and panning
                map.svg.call(d3.behavior.zoom().on("zoom", function(){
                    //Don't select no-resize classed elements (like legend)
                    map.svg.selectAll("g:not(.no-resize)")
                        .attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
                }));
            },
            fills: {defaultFill},
        });

        //Adding some responsiveness
        // $(window).on('resize', function() {
        //     //Use the custom resize instead
        //     map.options.resize(map);
        // });

        // Update the map and legend with data on button click
        $(".view-type-map .btn-group button").on('click', function(e){
            // Toggle button active
            $(this).siblings().removeClass('active')
            $(this).addClass('active');

            // Get data at button val index
            var data = mapDataSetsTransformed[$(this).val()];
            var label = mapDataSets[$(this).val()].label;

            // Reset fills and info directly on svg
            $(".view-type-map .datamaps-subunits path[data-info]")
                .css({fill: defaultFill})
                .attr("data-info", null);

            // Set new fills on map object
            map.options.fills = data.fills;

            // Update Choropleth
            map.updateChoropleth(data.data);

            // Update legend
            // use custom legend plugin
            // because we want legend to be part of svg
            var labels 
            var mapLegendOptions = {
                legendItems : data.labels.map(function(item){
                    return {color : item.color, name: item.name + " msgs"}
                })
            }
            map.svg.selectAll("g.legend").remove();
            //Mark legend and legend children as not-responsive
            var mapLegend = map.svg.append("g")
              .attr("class", "legend no-resize")
              .attr("transform","translate(20,20)")
              .call(d3.legend, mapLegendOptions)
              .selectAll("g")
                .attr("class", "no-resize");

            map.svg.selectAll(".map-title").remove();
            map.svg.append("text")
                .attr("class", "map-title")
                .attr("text-anchor", "middle")
                .attr("transform", "translate("+ (clientWidth / 2) + ", 30)")
                .style("font-weight", "bold")
                .text("Messages per time for '"+ label +"'");

            //map.legend({legendTitle: "Message Count", defaultFillName: defaultFillName, labels: data.labels});
        });

        // Trigger first button to be clicked
        $(".view-type-map .btn-group button:first-child").click();

    })
    </script>
    {% endif %}
    {% if the_view.type_line %}
    <div class="view-type-linechart view-type" style="width: 100%">
        <div class="svg-container"></div>
        <div class="export-svg"> 
            <a href="#" class="btn btn-important" role="button">Export Chart as PDF</a>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        var clientWidth = $(".view-type").width();
            clientHeight = 500;

        // Create margins, heights, widths for both plots
        var margin = {top: 40, right: 60, bottom: 120, left: 60},
            marginMini = {top: 430, right: 60, bottom: 20, left: 60},
            width = clientWidth - margin.left - margin.right,
            height = clientHeight - margin.top - margin.bottom,
            heightMini = clientHeight - marginMini.top - marginMini.bottom;

        // Create date format praser
        var parseDate = d3.time.format("%Y%m%d").parse;

        // Ranges for both plots
        var x = d3.time.scale().range([0, width]),
            y = d3.scale.linear().range([height, 0]),
            xMini = d3.time.scale().range([0, width]),
            yMini = d3.scale.linear().range([heightMini, 0]);

        //Axis for both plots
        var xAxis = d3.svg.axis().scale(x).orient("bottom"),
            yAxis = d3.svg.axis().scale(y).orient("left"),
            xAxisMini = d3.svg.axis().scale(xMini).orient("bottom");

        var xGridLines = d3.svg.axis().scale(x).orient("bottom").tickSize(-height, 0, 0).tickFormat(""),
            yGridLines = d3.svg.axis().scale(y).orient("left").tickSize(-width, 0, 0).tickFormat("");

        //Moving a brush in mini chart changes chart domain
        var brush = d3.svg.brush()
            .x(xMini)
            .on("brush", function() { 
                x.domain(brush.empty() ? xMini.domain() : brush.extent());
                focus.selectAll(".line").attr("d", line);
                focus.select(".x.axis").call(xAxis);
                focus.select(".x.grid").call(xGridLines);
                // XXX LP: This is not very dry - rethink d3 styling in general!!
                // Inline not so nice, but problem with export, maybe use css inliner on export
                svg.selectAll(".grid .tick")
                    .style("stroke", "#DADADA");
            })
            .on("brushend", function(){
                if (typeof addTimeQuickFilter !== 'undefined')
                    addTimeQuickFilter(x.domain());
            });

        //Append svg to document
        var svg = d3.select(".view-type-linechart .svg-container").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        //Define a viewport, so that the line does not move over axis
        //This does not work when exported
        svg.append("defs").append("clipPath")
            .attr("id", "clip")
          .append("rect")
            .attr("width", width)
            .attr("height", clientHeight);

        // Append main chart to svg and place it
        var focus = svg.append("g")
            .attr("class", "focus")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        // Append overview chart to svg and place it 
        var context = svg.append("g")
            .attr("class", "context")
            .attr("transform", "translate(" + marginMini.left + "," + marginMini.top + ")");

        // Create main chart line generator
        var line = d3.svg.line()
            .x(function(d) { return x(d.date); })
            .y(function(d) { return y(d.cnt); });

        // Create overview chart line generator
        var lineMini = d3.svg.line()
            .x(function(d) { return xMini(d.date); })
            .y(function(d) { return yMini(d.cnt); });

        // Get the data
        // XXX LP Maybe get this with ajax
        var lineData = {{ view_type_line_data | to_json }};
        var dataSets = lineData.data_sets;
        var begin    = parseDate(lineData.begin);
        var end      = parseDate(lineData.end);

        // Convert date strings to dates
        dataSets.forEach(function(dataSet){
          dataSet.data.forEach(function(obj){
            obj.date = parseDate(obj.date);
          })
        })

        //Create 0 data points for days of range that are not in the dataset
        //data MUST be orderd by date
        var days = d3.time.day.range(begin, end);
        dataSets.forEach(function(dataSet){
            data_len = dataSet.data.length;
            data_tmp = [];
            var j = 0;
            for (var i = 0; i < days.length; i++) {
                // + for number cast
                if ((data_len > j) && (+days[i] == +dataSet.data[j].date)){
                    cnt = dataSet.data[j].cnt; 
                    j += 1;
                } else {
                    cnt = 0;
                }
                data_tmp.push({date: days[i], cnt: cnt});
            }
            dataSet.data = data_tmp
        });

        // Get min and max date by traversing all datasets' data lists
        
        x.domain([begin, end]);

        // Get max value by traversing all datasets' data lists
        y.domain(
          [0, d3.max([].concat.apply([], 
            dataSets.map(function(dataSet){return dataSet.data.map(
              function(d){return d.cnt; })})))]);

        // Get the domains for x and y values for overview chart
        xMini.domain(x.domain());
        yMini.domain(y.domain());

        // Create the actual lines and append to svg
        dataSets.forEach(function(dataSet, idx) {
          // for main chart
          focus.append("path")
              .datum(dataSet.data)
              .attr("class", "line")
              .attr("d", line)
              .attr("stroke", dataSet.color);
          // and for mini chart
          context.append("path")
              .datum(dataSet.data)
              .attr("class", "line")
              .attr("d", lineMini)
              .attr("stroke", dataSet.color);
        });

        // Append X Axis for main chart
        focus.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        // Append Y Axis for main chart
        focus.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        // prepend gridlines, so they are under the lines 
        focus.insert("g", ":first-child")
            .attr("class", "x grid")
            .attr("transform", "translate(0," + height + ")")
            .call(xGridLines);
        focus.insert("g", ":first-child")
            .attr("class", "y grid")
            .call(yGridLines);


        svg.append("text")
            .attr("class", "y label")
            .attr("transform", "rotate(-90)translate(" + (height/2 * -1 ) + ", "+ (margin.left / 2 - 5)+")")
            .text("Message count");

        // Append X Axis for mini chart
        context.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + heightMini + ")")
            .call(xAxisMini);

        // Append the moving window for the mini chart
        context.append("g")
            .attr("class", "x brush")
            .call(brush)
          .selectAll("rect")
            .attr("y", -6)
            .attr("height", heightMini + 7);

        var lineLegendOptions = {
            legendItems : dataSets.map(function(d){return {color: d.color, name: d.label} })
        }

        //CSS Part
        svg.selectAll(".brush .extent")
            .style("stroke", "#fff")
            .style("fill-opacity", .125)
            .style("shape-rendering", "crispEdges");
        svg.selectAll(".label")
            .style("text-anchor", "middle");
        svg.selectAll("path")
            .style("stroke-width", 2)
            .style("fill", "none")
            .style("clip-path", "url(#clip)");
        svg.selectAll("rect")
            .style("stroke-width", 2)
        svg.selectAll(".axis path, .axis line")
            .style("fill", "none")
            .style("stroke", "#DADADA")
            .style("stroke-width", 1)
            .style("shape-rendering", "crispEdges");
        svg.selectAll(".grid .tick")
            .style("stroke", "#DADADA");    
        svg.selectAll(".tick text")
            .style("font-size", "10px")
        svg.selectAll(".grid path")
            .style("stroke-width", 0);

        var lineLegend = focus.append("g")
          .attr("class", "legend")
          .attr("transform", "translate(20,20)")
          .call(d3.legend, lineLegendOptions); 

        svg.append("text")
            .attr("transform", "translate("+ (width / 2) + ", " + (margin.top / 2) +")")
            .style("font-weight", "bold")
            .text("Messages over time");


    })
    </script>
    {% endif %}


    {% if the_view.type_table %}
    <div id="time-quick-filter"></div>
    <div class="view-type-table">
        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Reporter</th>
                    <th>Sender</th>
                    <th>IP</th>
                    <th>Country</th>
                    <th>Begin</th>
                    <th>End</th>
                    <th>Msg#</th>
                    <th data-orderable="false">DKIM Domains</th>
                    <th data-orderable="false">DKIM Results</th>
                    <th>aDKIM</th>
                    <th data-orderable="false">SPF Domains</th>
                    <th data-orderable="false">SPF Results</th>
                    <th>aSPF</th>
                    <th>Disposition</th>
                    <th>ReportId</th>
                    {% comment %}
                    <th>Label</th>
                    {% endcomment %}

                </tr>
            </thead>
        </table>
        <div class="export-csv"> 
            <a class="btn btn-important" role="button" href="#">Export Table as CSV</a>
        </div>
    </div>
    <script type="text/javascript">
        /*
         * Initialize DataTable 
         */
        var tableTimeRange = []; 
        var tableApi;

        var addTimeQuickFilter = function(times) {
            $("#time-quick-filter").html("Quick filtering from " + times[0] + " to " + times[1]);
            tableTimeRange = times;
            tableApi.ajax.reload();
        }
        
        $(document).ready(function(){
            tableApi = $('.view-type-table table').DataTable({
                "ajax" : {
                    url  : "/get-table/{{the_view.id}}/",
                    type : "POST",
                    data: function (data) {
                         data["custom_filters"] = {
                            "time" : tableTimeRange
                         }
                         return { 
                            "data" : JSON.stringify(data),
                          };
                    },
                },
                "searching": false,
                "serverSide": true,
                "processing": true
            });
        });
    </script>
    {% endif %}
    <div class="clearfix"></div>
    <a class="btn btn-important" role="button" href="/edit-view/{{the_view.id}}/">Edit View</a>
        
    <script type="text/javascript">
        /*
         * Exporting SVG and CSV
         */
        $(document).ready(function(){
            $(".export-svg .btn").on("click", function(){
                var svg_node = $(this).closest(".view-type").find(".svg-container svg").get(0)

                $('<form>', {
                    'action': "/export-svg/{{the_view.id}}/",
                    'target': "_blank",
                    'method': "POST"
                }).append($('<textarea>', {
                    'name': "svg",
                    'value': (new XMLSerializer).serializeToString(svg_node),
                })).append("{% csrf_token %}").submit();
                // One should know that input field text is limited to 512KB length
            });
            $(".export-csv .btn").on("click", function(){
                $('<form>', {
                    'action': "/export-csv/{{the_view.id}}/",
                    'target': "_blank",
                    'method': "POST"
                }).append("{% csrf_token %}").submit();     
            });
        })
    </script>

</div>
{% endblock %}