{% extends 'myDmarcApp/base.html' %}

{% block title %}MyDmarc - Overview{% endblock %}

{% block content %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar nav-tabs">
        {% for topic_id, topic in topics.items %}
            <li role="presentation"><a href="#{{topic_id}}">{{topic.title}}</a></li>
                {% for item_id, item in topic.items.items  %}
                    <li role="presentation" ><a href="#{{item_id}}">{{item.faq}}</a></li>
                {% endfor %}
        {% endfor %}
    </ul>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1>Frequently asked questions</h1>
    {% for topic_id, topic in topics.items %}
        <div class="faq-container" >
        <h2 id="{{topic_id}}">{{topic.title}}</h2>
            {% for item_id, item in topic.items.items  %}
                <h3 id="{{item_id}}">{{item.faq}}</h3>
                {{item.long}}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}