{% extends 'myDmarcApp/base.html' %}

{% block title %} MyDmarc - Overview {% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 main">
<h1>Overview</h1>
<h2>Incoming reports</h2>
{% if incoming.oldest_date %}
based on incoming reports from {{ incoming.oldest_date | date:"Y/n/j" }} to {% now "Y/n/j" %} 
<table>
<tr><td>My domains</td><td>{{incoming.data.domain_cnt}}</td></tr>
<tr><td>Report count</td><td>{{incoming.data.report_cnt}}</td></tr>
<tr><td>Message count</td><td>{{incoming.data.message_cnt}}</td></tr>
</table>
{% else %}
No incoming reports so far. Start by ...
{% endif %}
<h2>Outgoing reports</h2>
{% if outgoing.oldest_date %}
based on outgoing reports from {{ outgoing.oldest_date | date:"Y/n/j" }} to {% now "Y/n/j" %} 
<table>
<tr><td>My domains</td><td>{{incoming.data.domain_cnt}}</td></tr>
<tr><td>Report count</td><td>{{incoming.data.report_cnt}}</td></tr>
<tr><td>Message count</td><td>{{incoming.data.message_cnt}}</td></tr>
</table>
{% else %}
No outgoing reports so far. Start by ...
{% endif %}
</div>
{% endblock %}