{% extends 'myDmarcApp/base.html' %}
   {# Load the tag library #}
    {% load bootstrap3 %}
{% block title %}MyDmarc - View Management{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 main">
    <h1>View Management</h1>
    {% bootstrap_messages %}

    <table class="table table-condensed">
      <thead>
        <tr>
          <th></th>
          <th>Show in sidebar</th>
          <th>Title</th>
          <th>Description</th> 
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="sortableViews">
      {% for view in views %}
        <tr class="view-row" data-id="{{view.id}}">
            <td class="sort-handle">Hendl</td>
            <td>{{view.enabled}}</td>
            <td>{{view.title}}</td>
            <td>{{view.description}}</td> 
            <td>
              <a class="btn btn-info" role="button" href="/edit-view/{{view.id}}/">Edit</a>
              <a class="btn btn-info" role="button" href="/clone-view/{{view.id}}/">Clone</a>
              <a class="btn btn-info" role="button" href="/delete-view/{{view.id}}/">Delete</a>
              <a class="btn btn-info" role="button" href="/deep-analysis/{{view.id}}/">View</a>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready(function(){
      var sortContainer = $("#sortableViews").get(0)
      var sortable = Sortable.create(sortContainer,{
        animation: 150,
        handle: ".sort-handle",
        onUpdate: function (evt){
          $("#sortableViews .view-row").each(function(){
            console.log($(this).data("id"));
          });
        }
      });
    })
    </script>
        <a class="btn btn-info" role="button" href="/add-view/">Add View</a>

</div>
{% endblock %}