{% load bootstrap3 %}
<div data-formset-form>
    <h4>Filter</h4>
    {% bootstrap_field form.id %}
    {% bootstrap_field form.label %}
    {% bootstrap_field form.color %}
    {% bootstrap_field form.source_ip %}
    {% bootstrap_field form.report_sender %}
    {% bootstrap_field form.report_receiver_domain %}
    {% bootstrap_field form.raw_dkim_domain %}
    {% bootstrap_field form.raw_spf_domain %}
    {% bootstrap_field form.raw_dkim_result %}
    {% bootstrap_field form.multiple_dkim %}
    {% bootstrap_field form.raw_spf_result %}
    {% bootstrap_field form.aligned_dkim_result %}
    {% bootstrap_field form.aligned_spf_result %}
    {% bootstrap_field form.disposition %}
    
    {% bootstrap_field form.DELETE form_group_class="hidden" %}
        <button type="button" class="form-control btn btn-warning" data-formset-delete-button>Delete set of filters</button>
        <button type="button" class="form-control btn btn-primary" onclick="copy(this)">Copy set of filters</button>
</div>