{% extends 'myDmarcApp/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{% block title %}MyDmarc - View Editor{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 main">
    <h1>Editor</h1>

    {% bootstrap_messages %}
    <form method='post' action='/edit/' class="form">
        <h2>View</h2>
        {{ fs_time_variable.management_form }}
        {{ fs_time_fixed.management_form }}
        {% csrf_token %}
        {% bootstrap_form f_view %}
        {% bootstrap_form fs_time_fixed.0%}
        {% bootstrap_form fs_time_variable.0%}
        <h2>Filter Set</h2>
        {% bootstrap_form fs_filter_set.0%}
        {% bootstrap_form fs_report_sender.0%}
        {% bootstrap_form fs_report_recv.0%}
        {% bootstrap_form fs_source_ip.0%}
        {% bootstrap_form fs_raw_dkim_domain.0%}
        {% bootstrap_form fs_raw_dkim_result.0%}
        {% bootstrap_form fs_raw_spf_domain.0%}
        {% bootstrap_form fs_raw_spf_result.0%}
        {% bootstrap_form fs_aligned_dkim_result.0%}
        {% bootstrap_form fs_aligned_spf_result.0%}
        {% bootstrap_form fs_disposition.0%}
        <input class="form-control btn btn-warning" type="submit" value="Y U DO TIZ JOKR?! ;(">
    </form>
</div>
{% endblock %}
