{% extends 'myDmarcApp/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}

{% block title %}MyDmarc - View Editor{% endblock %}

{% block content %}
<div class="col-sm-12 col-md-12 main">
    <h1>Editor</h1>
    {% bootstrap_messages %}
    <form method='post' action='/edit/' class="form">
         {% csrf_token %}

        <h2>View</h2>
        {% for key, val in view_formsets.items  %}
            {{ val.management_form }}
        {% endfor %}
        {{ filter_set_formset.management_form }}

        {% for key, val in filter_formsets.items  %}
            {{ val.management_form }}
        {% endfor %}
        {% bootstrap_form view_form %}
        {% for key, val in view_formsets.items  %}
            {% bootstrap_form val.0 %}
        {% endfor %}

        {% comment %}This explicit media specification sucks
        for colorpicker it does not even work
        {% endcomment %}
        <h2>Filter Set</h2>
        {% bootstrap_form filter_set_formset.0%}
        {% for key, val in filter_formsets.items  %}
            {{ val.0.media }}
            {% bootstrap_form val.0 %}
        {% endfor %}

        <input class="form-control btn btn-warning" type="submit" value="Y U DO TIZ JOKR?! ;(">
    </form>
</div>
{% endblock %}
