@import "bootstrap";

//Variables
$dmarc-blue: #006699;



/*  
 * ---------------------------------------------------------------------------------------------------------------------
 * JUST COPIED THIS FROM BOOTSTRAP TEMPLATE
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        //background-color: #f5f5f5;
        border-right: 4px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding: 5px 20px 5px 10px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.container-margin {
    width: 80%;
    margin: auto;
}

/*  
 * ---------------------------------------------------------------------------------------------------------------------
 * Editor
 */
#view-editor {
    @extend .container-margin;

    form label {
        font-weight: normal;
    } 
    $viewFilterFormFields:
        (title, 12),
        (description, 12),
        (enabled, 3, 3),
        (type_map, 3, 3),
        (type_table, 3, 3),
        (type_line, 3, 3),
        (report_type, 12),
        (dr_type, 12),
        (begin, 6, 6, 3, 3),
        (end, 6, 6, 3, 3),
        (quantity, 6, 6, 3, 3),
        (unit, 6, 6, 3, 3);

    @each $id, $colXs, $colSm, $colMd, $colLg in $viewFilterFormFields {
        #id_#{$id}_container {
            @extend .col-xs-#{$colXs};
            @extend .col-sm-#{$colSm};
            @extend .col-md-#{$colMd};
            @extend .col-lg-#{$colLg};
        }
    } 
  
    $filterSetContainerFields: 
        (label, 8),
        (color, 4),
        (report_receiver_domain, 4),
        (source_ip, 4),
        (report_sender, 4),
        (raw_spf_domain, 6),
        (raw_spf_result, 6),
        (raw_dkim_domain, 6),
        (raw_dkim_result, 6),
        (multiple_dkim, 12),
        (aligned_dkim_result, 4),
        (aligned_spf_result, 4),
        (disposition, 4);
 
    @each $id, $colXs, $colSm, $colMd, $colLg in $filterSetContainerFields {
        .filter_#{$id} {
        @extend .col-xs-#{$colXs};
        @extend .col-sm-#{$colSm};
        @extend .col-md-#{$colMd};
        @extend .col-lg-#{$colLg};
        }
    }

    // Radio Input to Button Group magic :)
    // like a wolf in sheep's clothing
    #id_dr_type {
        @extend .btn-group;
        @extend .btn-group-justified;
        .radio {
            @extend .btn;
            @extend .btn-default;
            label {
                width:100%;
            }
        }
    }

    .form-group {
        margin-bottom: 10px;
    }

    //Filterset border
    [data-formset-form] {
        border: 1pt solid grey;
        padding: 20px 60px;
        margin: 20px 0;
        @include border-top-radius(3px);
        @include border-bottom-radius(3px);
    }
}

/*  
 * ---------------------------------------------------------------------------------------------------------------------
 * Deep Analysis
 */

#deep-analysis {
    #view-filter-details {
        .panel-heading {
            background-color: transparent;
        }
        a {
            font-size: 12px;
        }
        h5 {
            margin: 0;
        }
        p {
            margin-bottom: 2px;
        }
        .circle {
            display: inline-block;
            margin-right: 10px;
            width: 16px;
            height: 16px;
            @include border-bottom-radius(8px);
            @include border-top-radius(8px);
        }
        .panel-body {
            div:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    .view-type {
        margin-bottom: 60px;
        .svg-container {
            border: 1pt solid grey;
            overflow: hidden;
        }
    }
    .view-type-map {
        .switch-filterset .btn {
            border-bottom: 0pt;
            @include border-bottom-radius(0);
        }
    }
    .view-type-table {
        tr {
            background-color: transparent;
            td {
                padding-top: 2px;
                padding-bottom: 2px;

                &:before{
                    top: 1px;
                }
            }
            li {
                //display: inline-block;
                //padding: 0 10px 0 10px;
                //border-bottom: 0;
            }
        }
        .dataTables_processing {
            @extend .loading; 
        }
    }

    #time-quick-filter {
        margin-bottom:30px;
    }
}
/*  
 * ---------------------------------------------------------------------------------------------------------------------
 * Deep Analysis
 */

#view-management {
    @extend .container-margin;
}

/*  
 * ---------------------------------------------------------------------------------------------------------------------
 * Overview
 */

#overview {
    @extend .container-margin;
    .charts-container {
        text-align: center;
    }
}


/*  
 * ---------------------------------------------------------------------------------------------------------------------
 * Miscellaneous
 */
h1 {
    color: $dmarc-blue;
}
h2 {
    font-size: 22px;
}
.hidden {
    display: none;
}

.btn-important {
    float: right;
    margin: 10px 0;
    width: 200px;
    border-color: $dmarc-blue;
    background-color: white;

    @extend .clearfix;

}

.description {
    font-size: 15px;
    font-style: italic;
    font-variant: small-caps;
    color: $dmarc-blue;
    line-height: 12px;
    margin-bottom: 20px;
}

.right {
    float:right;
}


/*  
 * ---------------------------------------------------------------------------------------------------------------------
 * Loading wheel
 */

@mixin animation($time) {
    animation:          spinner $time infinite linear;
    -o-animation:       spinner $time infinite linear;
    -ms-animation:      spinner $time infinite linear;
    -webkit-animation:  spinner $time infinite linear;
    -moz-animation:     spinner $time infinite linear;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

.selectize-loading .selectize-input {
    color: $dmarc-blue;
    &:after {
        text-align: right;
        content: 'loading...';
    }
}


.loading {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: $dmarc-blue;
    &:before {
        content: " ";
        width: 50px;
        height: 50px;
        margin: 0 auto;
        border: 9px double;
        border-color: transparent $dmarc-blue $dmarc-blue;
        display: table;
        @include border-bottom-radius(50%);
        @include border-top-radius(50%);
        @include animation(1200ms)
    }
    &:after {
        width: 50px;
        height: 50px;
        content: "loading..."
    }
}

@include keyframes(spinner) {
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}

